<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="TfsTeamProjectCollectionUri" value="https://ve-lab.visualstudio.com/DefaultCollection"/>
    <add key="TfsUserName" value=""/>
    <add key="TfsPassword" value="*"/>
    <add key="OneBoardUserName" value=""/>
    <add key="OneBoardPassword" value=""/>
  </appSettings>
</configuration>