<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="TfsTeamProjectCollectionUri" value="https://ve-lab.visualstudio.com/DefaultCollection"/>
    <add key="UserName" value="dmitry.sadovnik@informicus.ru"/>
    <add key="Password" value="*"/>
  </appSettings>
</configuration>